@import 'grid';
@import 'variables';


img{max-width: 100%;}

body{
    font-family: $font-family;
    font-size:10px;
    color:$text-color;
    overflow-x: hidden;

    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
}

.header{
    @include flex-center(column, strech);

    &__top-bar{
        display: none;
        @media(min-width: $width-desktop){
            @include flex-center(row, center);
            @include topbar-style;
            background-color: $bar-color;
        } 
    }

    &__adv-bar{
        @extend .header__top-bar;
        @media(min-width: $width-desktop){
            background-color: $text-color;
        }
    }

    &__adv-text{
        margin: 0 30px;
    }

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        @media(min-width: $width-desktop){
            justify-content: space-around;
        }
    }

    &__logo {
        @include flex-center(row, left);
        @media(min-width: $width-desktop){
            @include flex-center(row, center);
        }
    }

    &__logo-icon {
        width: 80%;
    }

    &__search-bar {
        display: none;
        @media(min-width: $width-desktop){
            @include flex-center(row, center);
        }
    }

    &__search {
        border: 0;
        border-bottom: 1px solid $text-color;
        width: 20vw;
    }

    &__search-icon {
        font-size: 1.5em;
        padding: 10px;
    }

    &__icons-bar {
        @include flex-center(row, center);
        justify-content: space-around;
        list-style-type: none;
        @media(min-width: $width-desktop){
            display: none;
        }
    }

    &__icons-bar-desktop {
        display: none;
        list-style-type: none;
        @media(min-width: $width-desktop){
            @include flex-center(row, center);
        }
    }

    &__nav{
        display: none;
        @media(min-width: $width-desktop){
            display: block;
        }
    }
 
    &__nav-menu{
        display: none;
        @media(min-width: $width-desktop){
            @include flex-center(row, strech);
            @include menu-link-style;
            padding: 20px;
        }
    }
  
    &__item-menu{
        display: none;
        @media(min-width: $width-desktop){
            display: block;
            margin: 30px;
        }
    }

    &__item-menu--active{
        @extend .header__item-menu;
        @media(min-width: $width-desktop){
            color: red;
        }
    }
}

.banner{
    &__item{
        margin-bottom: $grid-gutter-width;
        padding: 0 $grid-gutter-width/2;
    }
    &__link{
        display: flex;
        position: relative;
    }
    &__img{
        display: block;
        width: 100%;
    }
    &__span{
        position: absolute; top:0; left:0; width:100%; height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 15px;
        color:$text-color;
        font-size:1.3em;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: 500;
        @media(min-width: $width-desktop){
            font-size:2.5em;
        }
    }
}

.footer-adv{
    @include flex-center(column, center);
    padding: 50px;
    &__big-title{
        font-size: 2em;
        font-weight: 500;
        letter-spacing: 0.2em;
        padding: 5px;
        text-transform: uppercase;
    }

    &__title{
        font-size: 1.3em;
        font-weight: 500;
        letter-spacing: 0.1em;
    }

    &__button {
        background-color: $text-color;
        border: none;
        color: white;
        letter-spacing: 0.1em;;
        margin-top: 20px;
        padding: 10px 30px;
        text-transform: uppercase;
    }
}

.footer-menu{
    @include flex-center(column, center);
    background-color: $text-color;
    color: white;
    letter-spacing: 0.1em;
    list-style-type: none;
    padding: 20px;
    text-align: center;
    @media(min-width: $width-desktop){
        @include flex-center(row, baseline);
    }

    &__list{
        list-style-type: none;
    }

    &__title{
        color: white;
        display: block;
        font-size: 1.6em;
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
    }

    &__item{
        display: none;
        @media(min-width: $width-desktop){
            color: white;
            display: block;
            font-size: 1.2em;
            padding: 10px;
            text-decoration: none;
        }
    }

    &__item--visible {
        @include visible-item;
    }
}

.footer-info {
    display: none;
    @media(min-width: $width-desktop){
        @include flex-center(row, center);
        font-weight: 500;
        justify-content: left; //make new mixin
        padding: 20px;
        margin-left: 250px;
    }
    &__phone, &__email, &__face {
        margin: 5px;
    }
}

